---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [1]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [1]:
import pandas as pd

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    #answer_df = pd.read_csv('university_towns.txt', sep=" ")
    answer_df = pd.read_fwf('university_towns.txt')
    #read in the data not too badly, but messed up the first row (Alabama)
    # Let's fix first row
    answer_df.loc[-1] = ['Alabama[edit]']
    answer_df.index = answer_df.index + 1  # shifting index
    answer_df = answer_df.sort_index()  # sorting by index
    
    answer_df.rename(columns={'Alabama[edit]':'region'},inplace=True)
    answer_df['state'] = 'filler'
    
    #use a trick to identify and copy states to the state column
    answer_df['state'].loc[answer_df['region'].str.endswith('[edit]')] = answer_df['region']
    #delete the state from the region column
    answer_df['region'].loc[answer_df['region'].str.endswith('[edit]')] = ''
    #get rid of the extraneous 'edit' link from Wikipedia
    answer_df['state'] = answer_df['state'].map(lambda x: x.rstrip('[edit]'))
    #get rid of the extraneous parentheticals and brackets from Wikipedia regions 
    answer_df['region'] = answer_df['region'].map(lambda x: x.split('(')[0].strip()) 
    
    for s in range(len(answer_df)):
        if answer_df['state'][s] == 'filler':
            answer_df['state'][s] = answer_df['state'][s-1]
            

    #correclt rearrange and rename columns
    answer_df=answer_df.reindex(columns=['state','region'])
    answer_df = answer_df[answer_df.region != '']
    answer_df.columns = ['State','RegionName']     
    
    return answer_df

get_list_of_university_towns()

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [3]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    gdplev_df = pd.read_excel('gdplev.xls')
    
    return gdplev_df

get_recession_start()

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
8,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
9,1931,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
10,1932,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
11,1933,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN
12,1934,66.8,862.2,NaN,1948q2,272.9,2021.9,NaN
13,1935,74.3,939,NaN,1948q3,279.5,2033.2,NaN
14,1936,84.9,1060.5,NaN,1948q4,280.7,2035.3,NaN
15,1937,93,1114.6,NaN,1949q1,275.4,2007.5,NaN
16,1938,87.4,1077.7,NaN,1949q2,271.7,2000.8,NaN
17,1939,93.5,1163.6,NaN,1949q3,273.3,2022.8,NaN
18,1940,102.9,1266.1,NaN,1949q4,271,2004.7,NaN
19,1941,129.4,1490.3,NaN,1950q1,281.2,2084.6,NaN
20,1942,166,1771.8,NaN,1950q2,290.7,2147.6,NaN
21,1943,203.1,2073.7,NaN,1950q3,308.5,2230.4,NaN
22,1944,224.6,2239.4,NaN,1950q4,320.3,2273.4,NaN
23,1945,228.2,2217.8,NaN,1951q1,336.4,2304.5,NaN
24,1946,227.8,1960.9,NaN,1951q2,344.5,2344.5,NaN
25,1947,249.9,1939.4,NaN,1951q3,351.8,2392.8,NaN
26,1948,274.8,2020,NaN,1951q4,356.6,2398.1,NaN
27,1949,272.8,2008.9,NaN,1952q1,360.2,2423.5,NaN
28,1950,300.2,2184,NaN,1952q2,361.4,2428.5,NaN
29,1951,347.3,2360,NaN,1952q3,368.1,2446.1,NaN
...,...,...,...,...,...,...,...,...
255,NaN,NaN,NaN,NaN,2009q1,14383.9,14375,NaN
256,NaN,NaN,NaN,NaN,2009q2,14340.4,14355.6,NaN
257,NaN,NaN,NaN,NaN,2009q3,14384.1,14402.5,NaN
258,NaN,NaN,NaN,NaN,2009q4,14566.5,14541.9,NaN
259,NaN,NaN,NaN,NaN,2010q1,14681.1,14604.8,NaN
260,NaN,NaN,NaN,NaN,2010q2,14888.6,14745.9,NaN
261,NaN,NaN,NaN,NaN,2010q3,15057.7,14845.5,NaN
262,NaN,NaN,NaN,NaN,2010q4,15230.2,14939,NaN
263,NaN,NaN,NaN,NaN,2011q1,15238.4,14881.3,NaN
264,NaN,NaN,NaN,NaN,2011q2,15460.9,14989.6,NaN
265,NaN,NaN,NaN,NaN,2011q3,15587.1,15021.1,NaN
266,NaN,NaN,NaN,NaN,2011q4,15785.3,15190.3,NaN
267,NaN,NaN,NaN,NaN,2012q1,15973.9,15291,NaN
268,NaN,NaN,NaN,NaN,2012q2,16121.9,15362.4,NaN
269,NaN,NaN,NaN,NaN,2012q3,16227.9,15380.8,NaN
270,NaN,NaN,NaN,NaN,2012q4,16297.3,15384.3,NaN
271,NaN,NaN,NaN,NaN,2013q1,16475.4,15491.9,NaN
272,NaN,NaN,NaN,NaN,2013q2,16541.4,15521.6,NaN
273,NaN,NaN,NaN,NaN,2013q3,16749.3,15641.3,NaN
274,NaN,NaN,NaN,NaN,2013q4,16999.9,15793.9,NaN
275,NaN,NaN,NaN,NaN,2014q1,17025.2,15747,NaN
276,NaN,NaN,NaN,NaN,2014q2,17285.6,15900.8,NaN
277,NaN,NaN,NaN,NaN,2014q3,17569.4,16094.5,NaN
278,NaN,NaN,NaN,NaN,2014q4,17692.2,16186.7,NaN
279,NaN,NaN,NaN,NaN,2015q1,17783.6,16269,NaN
280,NaN,NaN,NaN,NaN,2015q2,17998.3,16374.2,NaN
281,NaN,NaN,NaN,NaN,2015q3,18141.9,16454.9,NaN
282,NaN,NaN,NaN,NaN,2015q4,18222.8,16490.7,NaN
283,NaN,NaN,NaN,NaN,2016q1,18281.6,16525,NaN
284,NaN,NaN,NaN,NaN,2016q2,18450.1,16583.1,NaN

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"