---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [6]:
%

Assignment 2.ipynb*      gdplev.xls*    scimagojr-3.xlsx*
Assignment 3.ipynb*      grades.csv*    university_towns.txt*
Assignment 4.ipynb*      log.csv*       Week 1.ipynb*
cars.csv*                log.txt*       Week 2.ipynb*
census.csv*              mpg.csv*       Week 3.ipynb*
City_Zhvi_AllHomes.csv*  olympics.csv*  Week 4.ipynb*
Energy Indicators.xls*   readonly/      world_bank.csv*

In [76]:
import pandas as pd

def answer_one():
    ''' answer 1 create variable energy '''
    
    indicators_df = pd.read_excel('Energy Indicators.xls', skiprows=18, header=None)
    #indicators_df = pd.read_csv('Energy Indicators.xls', index_col=0)
    #print(indicators_df))
    answer_df = indicators_df
    answer_df.drop(answer_df.iloc[:,0:2], inplace = True, axis = 1)
    answer_df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    print(len(answer_df))
    #answer_df = pd.DataFrame()
    
    assert isinstance(answer_df, pd.DataFrame)
    #assert len(answer_df) == 15
    #assert len(answer_df.columns) == 20
    return answer_df

energy = answer_one() # need to get this dataframe intoa variable called energy
energy

265

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
235,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
236,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
237,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
238,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
239,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
240,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
241,Data include Timor-Leste until 2001.,NaN,NaN,NaN
242,Data include San Marino and the Holy See.,NaN,NaN,NaN
243,Data include Okinawa.,NaN,NaN,NaN
244,The data for crude oil production include 50 p...,NaN,NaN,NaN
245,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
246,Data include the Azores and Madeira.,NaN,NaN,NaN
247,Data for crude oil production include 50 per c...,NaN,NaN,NaN
248,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
249,Data include the Canary Islands.,NaN,NaN,NaN
250,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
251,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
252,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
253,Includes the 50 states and the District of Col...,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN
258,NaN,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN
260,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN
262,NaN,NaN,NaN,NaN
263,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [1]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [7]:
def answer_two():
    ''' answer 2 '''
    

    assert isinstance(answer_num, int) or isinstance(answer_num, float)
    return answer_num

answer_two()

3.4

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
    ''' answer 3 '''
    
    Top15 = answer_one()
    
    
    assert isinstance(avgGDP, pd.Series)
    assert len(avgGDP) == 15
    
    return avgGDP

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    ''' answer 4 '''
    
    
    Top15 = answer_one()
    
    assert isinstance(answer_num, int) or isinstance(answer_num, float)
    
    return answer_num

answer_four()

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
''' answer 5 '''
    Top15 = answer_one()
    
    assert isinstance(answer_num, int) or isinstance(answer_num, float)
    
    return answer_num

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
''' answer 6 '''
    Top15 = answer_one()
    
    assert isinstance(answer_tuple, tuple)
    return answer_tuple

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
''' answer 7 '''    
    Top15 = answer_one()
    
    assert isinstance(answer_tuple,tuple)
    return answer_tuple

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
''' answer 8 '''
    Top15 = answer_one()

    assert isinstance(answer_string, list)    
    return answer_string

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
''' anser 9 '''
    Top15 = answer_one()
    
    assert isinstance(answer_num,int) or isinstance(answer_num, float)
    return answer_num

In [ ]:
def plot9():
''' plot for anwer 9 '''
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    assert isinstance(Top15['PopEst'],int) or isinstance(Top15['PopEst'],float) 
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
''' anser 10 '''
    Top15 = answer_one()
    assert isinstance(HighRenew, pd.Series)
    return HighRenew

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
''' anser 11 '''
    Top15 = answer_one()
    
    assert isinstance(answer_df, pd.DataFrame)
    assert answer_df.columns = ['size', 'sum', 'mean', 'std']
    
    return answer_df

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
''' anser 12 '''
    Top15 = answer_one()
    
    assert isinstance(asnwer_series, pd.Series)
    return answer_series

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
''' anser 13 '''
    Top15 = answer_one()
    
    assert isinstance(PopEst, pd.Series)
    return PopEst

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
''' optional plot '''
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!